
@font-face{
    font-family: Roobert;
    src: url("./Roobert/Roobert-Regular.otf");
}

body {
    margin: 0;
}

body .header {
    flex: 1;
    height: 50px;

    display: flex;
    background-color: #ffffff;

    align-items: center;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #c4c0c0;
}

body .header .parte1 {
    height: inherit;
    display: flex;
    align-items: center;

    width: 33%;
}

body .header .parte1 img {
    width: 50px;
    height: inherit;
}

body .header .parte1 .separacao {
    background-color: #eceeea;
    height: 35px;
    width: 1px;
}

body .header .parte1 a {
    font-size: 14.2px;
    color: black;

    text-decoration: none;
    margin: 10px;
    
    font-family: Roobert;
}






body .header .parte2 {
    display: flex;
    height: inherit;
    width: 100%;
    align-items: center;
    
    justify-content: center;
    width: 34%;
}

body .header .parte2 .field {
    display: flex;

    width: 388px;
    height: 36px;

    justify-content: center;
}

body .header .parte2 .field input {
    flex: 1;

    background-color: #eceeea;
    border-radius: 6px 0 0 6px;
    border: 0;
    font-size: 14px;
    color: #000000;
    outline-color: #a469af;

    padding-left: 10.5px;
    padding-right: 10px;
    padding-top: 3px;

    transition: 150ms;
}

body .header .parte2 .field button {
    background-color: #faf3f3;
    border: 0;
    border-radius: 0 7px 7px 0;

    height: 36px;
    width: 36px;
}





body .header .parte3 {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: flex-end;
    
    width: 33%;
}

body .header .parte3 .b1 {
    background-color: #ffffff;

    height: 32px;
    width: 32px;
    border: 0;

    border-radius: 3px;
    margin-right: 6px;
}

body .header .parte3 .b2 {
    background-color: #0000001A;
    color: #000000;

    height: 30px;
    width: 58px;
    border: 0;

    border-radius: 4px;
    margin-right: 6px;

    font-weight: 600;
    font-family: Roobert;
    font-size: 12px;
}

body .header .parte3 .b3 {
    background-color: #9147ff;
    color: white;

    height: 30px;
    width: 100px;
    border: 0;

    border-radius: 4px;
    margin-right: 8px;

    font-weight: 600;
    font-family: Roobert;
    font-size: 12px;

}

body .header .parte3 .b4 {
    background-color: #ffffff;

    height: 32px;
    width: 32px;
    border: 0;

    border-radius: 3px;
    margin-right: 8px;
}






body .lateral {
    background-color: #e0dddda8;
    height: 100%;
    width: 51px;
    position: fixed;

    align-items: center;
    justify-content: center;
}

body .lateral .recomendacao {
    display: block;
    align-items: center;
    height: 80%;
    width: 115%;
}

body .lateral .recomendacao .expand {
    background-color: #e0dddd00;

    height: 32px;
    width: 32px;
    border: 0;

    border-radius: 3px;

    margin-left: 9px;
    margin-right: 9px;
    margin-top: 10px;
}

body .lateral .recomendacao .iconeRecomendados {
    height: 20px;
    width: 20px;

    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}




body .content {
    margin-left: 60px;
}

p {
    font-size: 100px;
}